<app-header title="Películas"></app-header>

<ion-toolbar>
  <ion-searchbar placeholder="Buscar Película" animated debounce="700" [value]="movieQuery"
    (ionChange)="handleChange($event)" class="searchbar">
  </ion-searchbar>
</ion-toolbar>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-spinner name="dots" color="primary" *ngIf="searching"></ion-spinner>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="image">
    <img src="./assets/film.png" *ngIf="movies.length === 0" class="image__logo">
  </div>

  <ion-list *ngIf="this.movieQuery !== ''">
    <app-movie-item *ngFor="let movie of movies" [movie]="movie"></app-movie-item>
  </ion-list>

  <ion-infinite-scroll threshold="100px" [disabled]="scrollDisabled" (ionInfinite)="handleScroll()">
    <ion-infinite-scroll-content loadingSpinner="crescent" loadingText="Cargando...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>